<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * WellCart Platform
 *
 * @copyright    Copyright (c) 2016 WellCart Development Team    http://wellcart.org/
 * @license      http://www.opensource.org/licenses/BSD-3-Clause New BSD License
 */
-->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.5/phpunit.xsd"
        bootstrap="./bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="true"
        verbose="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true">
    <php>
        <env name="WELLCART_APPLICATION_ENV" value="testing"/>
    </php>
    <testsuites>
        <testsuite name="WellCart SchemaMigration Component Test Suite">
            <directory suffix="Test.php">./unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-html" target="report" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-clover" target="report/clover.xml"/>
        <log type="tap" target="report/report.tap"/>
        <log type="junit" target="report/report.junit.xml"/>
    </logging>
</phpunit>